img {
    width: 10em;
    height: 10em;
    border-radius: 2em;
}

i {
    margin-right: 0.1em;
    margin-left: 0.1em;
}

.body-dark {
    background-color: black;
    color: white;
}

.trait {
    min-height: 2em;
}

.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overflow-ellipsis::after {
    content: attr(data-tooltip);
    position: absolute;
    transform: translateX(-50%);
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    background-color: black;
    color: white;
    margin-top: 2em;
}

.body-dark .overflow-ellipsis::after {
    background-color: white !important;
    color: black !important;
}

.overflow-ellipsis:hover::after,
.overflow-ellipsis:active::after {
    opacity: 1;
    visibility: visible;
}