img {
    width: 10em;
    height: 10em;
    border-radius: 2em;
}

i {
    margin-right: 0.1em;
    margin-left: 0.1em;
}

.body-dark {
    background-color: black;
    color: white;
}

.trait {
    min-height: 2em;
}

.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tooltip {
    position: relative;
}

.tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover::before,
.tooltip:active::before {
    opacity: 1;
    visibility: visible;
}