table {
    font-size: larger;
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding-left: 6px;
}

hr {
    clear: left;
    margin-top: 6px;
    margin-bottom: 6px;
}

img {
    float: left;
    width: 8%;
    height: 17%;
    border-radius: 2em;
}

.table-head {
    width: 90%;
}

.table-head tr:first-child {
    vertical-align: bottom;
    height: 6em;
}

.body-dark {
    background-color: black;
    color: white;
}

.meter {
    margin-right: 0.1em;
    margin-left: 0.1em;
}

.filled-circle::before {
    content: var(--filled-circle);
}

.blank-circle::before {
    content: var(--blank-circle);
}

.filled-square::before {
    content: var(--filled-square);
}

.half-square::before {
    content: var(--half-square);
}

.blank-square::before {
    content: var(--blank-square);
}

.table-status {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.table-status td {
    text-align: center;
    line-height: 0.6;
}

.table-details {
    width: 33%;
    float: left;
    margin-bottom: 0.5em;
}

.table-discipline {
    width: 16em;
    float: left;
    margin-bottom: 0.5em;
}