table {
    font-size: larger;
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding-left: 6px;
} 

hr {
    clear: left;
    margin-top: 6px;
    margin-bottom: 6px;            
}

img {
    float: left;
    width: 8%;
    height: 17%;
    border-radius: 2em;
}

.table-head {
    width: 90%;         
}

.table-head tr:first-child {
    vertical-align: bottom;
    height: 6em;      
}

.body-dark {
    background-color: black;
    color: white;
}

.table-details {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.table-details td {
    text-align: center;
    line-height: 0.6;
}

.td-dots {
    font-size: 2em;
}

.td-boxes {
    font-size: 1.3em;
}

.section-status {
    width: 32%;
    margin-right: 4px;
    float: left;                       
}

.section-status section {
    margin-bottom: 10px;
} 
                
.section-status h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.section-status p {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    width: 100%;
    font-size: 200%;
    line-height: 0.6;
}           

.section-details {
    width: 32%;
    float: left;                        
}

.section-details table {
    margin-bottom: 6px;
}          

.td-large {
    font-size: 140%;
    line-height: 0.6;
}
                                  
.table-advantages {
    width: 32%;
    float: left;
    margin-right: 4px;          
}
                        
.section-experience {
    border-style: solid;            
}                     

.section-experience h5 {
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;             
}